body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "GT-Eesti-Regular";
  src: url("./assets/fonts/gt-eesti/GT-Eesti-Text-Regular-Trial.otf")
    format("opentype");
  /* font-weight: normal; */
  /* font-style: normal; */
}

@font-face {
  font-family: "GT-Eesti-Medium";
  src: url("./assets/fonts/gt-eesti/GT-Eesti-Text-Medium-Trial.otf")
    format("opentype");
  /* font-weight: bold; */
  /* font-style: normal; */
}
